# Created by .ignore support plugin (hsz.mobi)
~*.pptx

build/
.gradle/
gradle/
.project
.settings/
.classpath
target/
test-output/
*.zip
*.odp
*.pdf
*.ipr
*.iws
*.iml
.idea/
VAADIN/
/tutors/build/
/tutors/.gradle/
/exercises/build/
/exercises/.gradle/
